.customNav{
    background-color: #FBFAF8;
    padding: 20px 10px;
}

.nav-item{
    color: black !important;
}

.navbar-brand{
    color: #D15742 !important;
    font-size: 48px;
}

.navbar-nav{
    margin-left: auto;
    margin-right: 0 !important;
}

.jumbotron{
    background-color: #3D4F66;
}



.display-4{
    color: #FBFAF8;
}
.lead{
    color: #FBFAF8;
}

.oceanBackground{
    background-image: url(../images/oceanBackground.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    height: calc(100vh);
    display: flex;
    justify-content: center;
}

.missionStatementArea{
    background-color: #3D4F66;
    height: 50%;
    align-self: center;
    text-align: center;
    padding: 20px;
    
   
}

.statement{
    text-align: center;
    
}

.contentSection{
    margin: 50px;
    padding-top: 100px;
    padding-bottom: 100px;
}


.heading{
    color: #3D4F66;
    margin-bottom: 20px;
    margin-top: 100px;
}

.topMockup{
    height: 700px;
}


.sectionHeading{
    background-color: #988877;
    text-align: center;
    color: #FBFAF8;
    padding: 50px 0px;
    font-weight: bold;
}


.largeOceanBackground{
    background-image: url(../images/largeOceanBackground.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    height: calc(100vh);
    display: flex;
    justify-content: center;

}
.heuristicEvaluationArea{
    background-color: #F2F2F2 !important;

}
.heuristicEvaluation{
    color: #050601;
}
















.subheading{
    margin-top: 50px;
}

.analysisContainer{
    display: grid;
    grid-template-areas: 
    "affinity affinity"
    "chart donut"
}

.affinity{
    grid-area: affinity;
    
}

.chart{
    grid-area:chart;
}

.donut{
    grid-area: donut;
}
.analysisContainer img{
    width: 100%;
}

.myRole{
    text-align: center;
    padding-left: 400px;
    padding-right: 400px;
}

/* Text Styles CSS */
header{
    font-family:'Work Sans', arial, sans-serif;
    font-size: 24px;
    padding-top: 12px;
}
h1{
    font-family: 'Forum','Times New Roman', serif;
    font-size: 96px;
}
h2{
    font-family: 'Forum','Times New Roman', serif;
    font-size: 72px;
}
h3{
    font-family: 'Forum','Times New Roman', serif;
    font-size: 64px;
}
h4{
    font-family: 'Forum','Times New Roman', serif;
    font-size: 48px;
}
h5{
    font-family: 'Forum','Times New Roman', serif;
    font-size: 36px;
}
h6{
    font-family:'Work Sans', arial, sans-serif;
    font-size: 36px;
}
p{
    font-family:'Work Sans', arial, sans-serif;
    font-size: 18px;
}