.customNav{
    background-color: #FBFAF8;
    padding: 20px 20px;
}

.nav-item{
    color: black !important;
}

.navbar-brand{
    color: #D15742 !important;
    font-size: 48px;
}

.navbar-nav{
    margin-left: auto;
    margin-right: 0 !important;
}

.jumbotron{
    background-color: #3D4F66;
}



.display-4{
    color: #FBFAF8;
}
.lead{
    color: #FBFAF8;
}

.oceanBackground{
    background-image: url(../images/oceanBackground.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    height: calc(100vh);
    display: flex;
    justify-content: center;
}

.missionStatementArea{
    display: flex;
    justify-content: center;
    background-color: #3D4F66;
    height: 50%;
    align-self: center;
    text-align: center;
    padding: 20px;
    
   
}

.statement{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.contentSection{
    margin: 50px;
    padding-top: 100px;
    padding-bottom: 100px;
}


.heading{
    color: #3D4F66;
    margin-bottom: 20px;
    margin-top: 100px;
}

.topMockup{
    height: 700px;
}


.sectionHeading{
    background-color: #988877;
    text-align: center;
    color: #FBFAF8;
    padding: 50px 0px;
    font-weight: bold;
}

.qualitativeResearchSection{
    background-image: url(../images/oceanBackground.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    height: calc(100vh);
    display: flex;
    justify-content: center;
    align-items: center;
}

.qualitativeResearchInfo{
    background-color: #FBFAF8;
    padding: 100px;
    margin-left: 200px;
    margin-right: 200px;
}

.qualitativeResearchInfo h4{
    text-align: center;
}






.personaArea{
    margin-bottom: 100px;
    margin-top: 100px;
}
.parentPersonaArea{
    display: flex;
    align-items: center;
}

.childPersonaArea{
    display: flex;
    align-items: center;
}

.parentPersona{
    width: 100%;
}

.childPersona{
    width: 100%;
}

.analysisArea{
    background-color: #3D4F66;
    width: 100%;
    padding: 50px 150px;
}

.interviewInfo{
    margin-top: 100px;
    font-size: 24px;
}

.interviewInfo p{
    font-size: 24px;
}

.analysisInfo{
    font-size: 24px;
    color: #FBFAF8;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.analysisInfo p{
    font-size: 24px;
}

.makeItFun{
    font-family:'La Belle Aurore', cursive;
    font-size: 72px  !important;
    text-align: center;
}

.cardSortingImages{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.originalSitemap{
    width: 75%;
}

.cardsorting{
    width: 75%;
}

.finalSitemap{
    width: 75%;
}

.loFiText{
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
}

.loFiPrototypeSection{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #3D4F66;
}

.prototypeA{
    display: flex;
    align-items: center;
    justify-content: center;
}

.prototypeB{
    display: flex;
    align-items: center;
    justify-content: center;
}
.prototypeAImage{
    width: 95%;

}

.prototypeBImage{
    width: 95%;
}
.iterations{
    margin-top: 100px;
    margin-bottom: 200px;
    font-size: 24px;
}

.iterations p{
    font-size: 24px;
}

.iterationsText{
    margin-left: 100px;
    margin-right: 100px;
}

.midPrototypeSection{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.midFidelityPrototypes{
    display: flex;
    justify-content: center;
}

.midDesktop{
    display: flex;
    justify-content: center;
}

.midMobile{
    display: flex;
    justify-content: center;
}
.midDesktopImage{
    width: 50%;
}
.midMobileImage{
    width: 50%;
}

.styleGuideSection{
    margin-top: 100px;
    margin-bottom: 0px;
    background-color: #3D4F66;
    padding: 100px;
}

.styleTile{
    width: 90%;
}

.styleGuideText{
    color: #FBFAF8;
}

.styleGuideText p{
    font-size: 24px;
    padding-left: 50px;
    padding-right: 50px
}

.finalPrototypeSection{
    margin-top: 100px;
    margin-bottom: 100px;
    font-size: 24px;
}

.finalPrototypeSection p{
    font-size: 24px;
}

.finalPrototypeText{
    margin-left: 100px;
    margin-right: 100px;
}

.finalPrototypeHeader{
    font-family: 'La Belle Aurore', cursive;
    font-size: 72px;
    text-align: center;
}


.finalDesktopImage{
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
}

.finalMobileImage{
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
}
.finalDesktop{
    width: 75%;
}

.finalMobile{
    width: 75%;
}

.conclusionSection{
    background-color: #3D4F66;
    padding-top: 100px;
    padding-bottom: 100px;
}
.conclusionText{
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right: 100px;
    font-size: 24px;
    color: #FBFAF8;
}

.conclusionText p{
    font-size: 24px;
}

.socialMedia{
    display: flex;
    background-color: #988877;
    color: #FBFAF8;
    padding: 20px 20px;
    align-items: center;
    justify-content: space-between;
}
.footer{
    display: flex;
    background-color: #FBFAF8;
    padding: 20px 20px;
    align-items: center;
    justify-content: space-between;

}

.logo{
    color: #D15742 !important;
    font-size: 48px;
}

/* Text Styles CSS */
header{
    font-family:'Work Sans', arial, sans-serif;
    font-size: 24px;
    padding-top: 12px;
}
h1{
    font-family: 'Forum','Times New Roman', serif;
    font-size: 96px;
}
h2{
    font-family: 'Forum','Times New Roman', serif;
    font-size: 72px;
}
h3{
    font-family: 'Forum','Times New Roman', serif;
    font-size: 64px;
}
h4{
    font-family: 'Forum','Times New Roman', serif;
    font-size: 48px;
}
h5{
    font-family: 'Forum','Times New Roman', serif;
    font-size: 36px;
}
h6{
    font-family:'Work Sans', arial, sans-serif;
    font-size: 36px;
}
p{
    font-family:'Work Sans', arial, sans-serif;
    font-size: 18px;
}